div.members-registered,
div.members-online,
div.channels,
div.texts {
  padding: 5px 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

div.members-registered {
  background-color: #20A8D8
}

div.members-online {
  background-color: #63C2DE
}

div.channels {
  background-color: #FFC107
}

div.texts {
  background-color: #F86C6B
}

span.number {
  display: block;
  color: #FFF;
  font-size: 18px
}

span.desc {
  color: #FFF
}