<div class="row">
  <div class="col-3">
    <div class='members-registered'>
      <div class="info">
        <span class='number'>9,356</span>
        <span class='desc'>Members Registred</span>
      </div>
      <div style="display: block;">
        <canvas baseChart height="70" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class='members-online'>
      <div class="info">
        <span class='number'>1,165</span>
        <span class='desc'>Members Online</span>
      </div>
      <div style="display: block;">
        <canvas baseChart height="70" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="channels">
      <div class="info">
        <span class='number'>165</span>
        <span class='desc'>Active Channels</span>
      </div>
      <div style="display: block;">
        <canvas baseChart height="70" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="texts">
      <div class="info">
        <span class='number'>59,056</span>
        <span class='desc'>Texts Exchanged</span>
      </div>
      <div style="display: block;">
        <canvas baseChart height="70" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      </div>
    </div>
  </div>
</div>