button {
  width: 100%;
  text-align: left
}

iframe {
  width: 100%;
  height: 85vh;
}

.app-legal-body {
  overflow: hidden;
}

.app-legal-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}