section {
    background-color: #FFF;
    min-height: 100vh
}

div.row {
    padding-top: 60px
}

div.page-title {
    padding-top: 15px
}

div.page-title h3,
div.page-title p {
    text-align: center;
    color: #333;
}