.app-frienditem-td-button {
  color: white;
  outline: none;
  float: right;
}

.dd-usr-item{
  width: 100%;
  float: left;
  color: black;
  padding: 5px;
  height: 40px;
}

.dd-usr-item mat-icon{
  float: left;
  color: black !important;
}

.dd-usr-item span{
  float: left;
  color: black !important;
}

.dd-usr-item-more {
  margin-right: 5px;
}