<h1 mat-dialog-title>Joinning new channel</h1>
<div mat-dialog-content>
  <span class="channel-description">You've been blocked from entering this channel. You can contact the owner to revoke your entrance block</span>
</div>
<div mat-dialog-actions [attr.align]="'end'">
  <button mat-raised-button mdbBtn class="cancel-button" style="float:left" mat-button>Exit</button>
  <button mat-raised-button mdbBtn color="info" style="float:right" mat-button [mat-dialog-close]="data"
    cdkFocusInitial>Contact Owner</button>
</div>