<div class="welcome-container jumbotron text-center">
    <h1>Welcome</h1> 
    <p>
        With this platform, we believe everyone deserves an opportunity to learn and grow.
        We wanted to create a platform to help developers learn, teach, and make a profit from streaming. 
        Our goal is to remove any technical or financial barriers that may prevent new or veteran programmers from growing their tech stack knowledge.
        We're excited to help you on your journey! We mean that. If we can help atleast 10 developers. we'd be pretty happy. :)
    </p>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Company</h2><br>
            <h4>Code Crow Corp</h4><br>
            <p>was started by a developer in his room. He knew he needed to create a startup when his buddy in college suggested making 
                a gaming company with their last names combined (Singing Lemon). He spent years working on mobile games in Unity 3D, that never 
                launched. The company pivoted from mobile gaming, to crypto currency apps, and now web. All the while founders came and left. The idea for Code Crow came to fruition when he realized he needed to create a platform 
                that allowed students to get help on their assignments in real time.
                He hired an amazing group of developers that built the foundation of the platform. Together, they launched Code Crow!</p>
            <!-- <br><button class="btn btn-default btn-lg">Get in Touch</button> -->
        </div>
        <div class="col-sm-4 company-logo center">
            <!-- <div class="company-logo"></div> -->
        </div>
    </div>
</div>

<div class="container-fluid bg-light-green">
    <div class="row">
        <div class="col-sm-4 value-logo center">
            <h1>Our Values</h1><br>
        </div>
        <div class="col-sm-8">
            <h4><strong>VISION:</strong> Access to free education and to lead the next iteration of software engineering learning.</h4><br>
            <h4><strong>MISSION:</strong> We empower our users with resources needed to learn, teach, and profit in engineering software.</h4>
        </div>
    </div>
</div>

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">
    <h2>What our users say</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="row">
            <div class="item col-sm-4 col-xs-12">
                <h4>"They just... did my homework."<br><span>Miles Morales, Student, Brooklyn Charter School</span></h4>
            </div>
            <div class="item col-sm-4 col-xs-12">
                <h4>"I taught my entire class of mutants online, without downloading any software!"<br><span>Charles Xavier, Professor, Xavier School</span></h4>
            </div>
            <div class="item col-sm-4 col-xs-12">
                <h4>"I may have inherited a fortune, but this platform has helped me make more."<br><span>Bruce Wayne, Owner, Wayne Enterprises, Inc.</span></h4>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>