.example-tab-icon {
  margin-right: 8px;
}

.tab-title {
  margin: 20px 0 0 0
}

.row {
  margin: 0 !important
}

.user-avatar {
  position: relative;
  top: 5px;
  border-radius: 100%;
  width: 20px
}

.user-name {
  top: 5px;
  position: relative;
  left: 5px;
}

.col-4 {
  padding: 0 !important
}

.menu-icon {
  font-size: 20px !important
}

