<div class="app-channel-list-container padding-bottom" *ngIf='showingChannels'>
  <div class="md-form app-channel-search-bar sticky">
    <input type="search" [(ngModel)]="searchTitle" (keyup)="searchChannels()" placeholder="Search channels">
    <button mat-raised-button (click)="showAddChannelDialog()" mdbBtn color="info" style="margin-left:25px;"
      rounded="true" mdbWavesEffect type="button">
      <mat-icon>add</mat-icon>
      Create
    </button>
  </div>
  <div class="app-channel-list-item scrollbar-bordered-success thin">
    <div *ngIf='chatService.isGettingChannels'>
      <mat-spinner style="margin:0 auto;" mode="indeterminate" diameter="30"></mat-spinner>
    </div>
    <div *ngIf='!chatService.isGettingChannels'>
      <div *ngIf='searchTitle'>
        <div *ngFor="let item of chatService.allChannels | filter: searchTitle">
          <app-channel-item [channel]="item">
          </app-channel-item>
        </div>
      </div>
      <div *ngIf='!searchTitle'>
        <div *ngFor="let item of chatService.channels">
          <app-channel-item [channel]="item">
          </app-channel-item>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='padding-bottom' *ngIf='showingFriends'>

</div>