:host {
  background: #232438;
  width: 100%;
  color: #fff;
}

.app-chat-input {
  display: flex;
  flex-direction: column;
  margin: 0px !important;
  padding-right: 30px !important;
  padding-left: 10px !important;
}

.app-mesage-input-content {
  color: azure;
  width: -webkit-calc(100% - 45px);
  width: -moz-calc(100% - 45px);
  width: calc(100% - 45px);
  padding: 3px !important;
  float: left;
  @media (max-width: 576px) {
    width: -webkit-calc(100% - 65px);
    width: -moz-calc(100% - 65px);
    width: calc(100% - 65px);
  }
}

.app-attachment-content {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 10px 0px !important;
  padding-right: 30px !important;
  padding-left: 10px !important;
}

.app-message-attachment-btn {
  position: relative;
  right: 5px;
  width: 30px;
  height: 25px;
  float: left;
  margin: 0px !important;
  padding: 0px !important;
  // border: 0px !important;
  //   @media (max-width: 576px) {
  //     right: 25px;
  //   }
}

.app-message-send-btn {
  position: absolute;
  right: 5px;
  width: 60px;
  height: 55px;
  float: left;
  margin: 0px !important;
  border: 0px !important;
  @media (max-width: 576px) {
    right: 25px;
  }
}

.giphy-search {
  position: relative;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.message-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.user-message {
  margin-top: 10px;
}

.user-message span {
  display: block;
}

.giphy-search input {
  width: 100%;
}

img {
  max-width: 100%;
}

.gif-result img {
  cursor: pointer;
}

.attachment {
  position: relative;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}
