.btn-group {
    width: 100%;
    padding-bottom: 10px;
}

.btn-group button {
    cursor: pointer;
    float: left;
    margin: 5px;
    background-color: #4285F4;
    color: #FFFFFF;
    width: 20%;
}

.app-donate-description{
    color: rgb(60, 0, 128) !important;
}

.mat-form-field {
    width: 100%;
}

.cancel-button {
    background-color: rgb(218, 218, 218) !important;
}