<mat-list role="list">
  <!-- <mat-list-item role="listitem">
    <button mat-button routerLink='/settings/'>
      <mat-icon>account_circle</mat-icon>
      <span>Account Settings</span>
    </button>
  </mat-list-item> -->
  <!-- <mat-list-item role="listitem">
    <button mat-button routerLink='/settings/profile'>
      <mat-icon>supervisor_account</mat-icon>
      <span>Profile Settings</span>
    </button>
  </mat-list-item> -->
  <!-- <mat-list-item role="listitem">
    <button mat-button routerLink='/settings/notifications'>
      <mat-icon>notifications</mat-icon>
      <span>Notifications</span>
    </button>
  </mat-list-item> -->
  <mat-list-item role="listitem">
    <button mat-button routerLink='/settings/payment-methods'>
      <mat-icon>payment</mat-icon>
      <span>Payment Methods</span>
    </button>
  </mat-list-item>
</mat-list>