<section class='page'>
  <div class="container">
    <h3 class="page-title text-center">Complete you subscription</h3>

    <mat-card class='plan-info'>
      <div class="card-title row">
        <div class="col-8">Plan Info</div>
        <div class="col-2">Price</div>
        <div class="col-2">Actions</div>
      </div>
      <div class="card-body row">
        <div class="col-8">
          <h5>{{plan.name}} Tier Subscription</h5>
          <div class="features">
            <ul>
              <li>Search and browse 10K most recent messages.</li>
              <li>10 service integrations</li>
              <li>Free native apps on iOS, Android, Mac Destop & Windows Desktop</li>
              <li>Multi-team support</li>
            </ul>
          </div>
        </div>
        <div class="col-2">
          <span>${{plan.amount / 100}}.00 / month</span>
          <span>Billed Monthly</span>
        </div>
        <div class="col-2">
          <button mat-button>Remove</button>
        </div>
      </div>
    </mat-card>

    <mat-card class='discount-card text-center'>
      Have a discount code? Click to enter it.
    </mat-card>

    <div class="row">
      <div class="col-4">
        <mat-card>
          <h6 class='text-center'>Select Payment Method</h6>

          <mat-spinner *ngIf='!customer' style="margin:0 auto;" mode="indeterminate" diameter="30"></mat-spinner>

          <div class='payment-methods' *ngIf='customer'>
            <ul *ngIf='customer.sources.data.length'>
              <li *ngFor='let source of sources; let i = index' [class.selected]='source.selected'
                (click)='selectCard(source, i)'>
                <img [src]="'../../../assets/cc/' + source.brand + '.png'" [alt]="source.brand">
                <span>**** **** **** {{source.last4}} | EXP:
                  {{source.exp_month}}/{{source.exp_year}}</span>
                <div class="clearfix"></div>
              </li>
            </ul>
            <div *ngIf='!customer.sources.data.length' class="alert info">You don't have any valid payment method.</div>
          </div>

          <div>
            <button style='width: 100%' mat-button (click)='openDialog()'>Add Payment Method</button>
          </div>
        </mat-card>
      </div>

      <div class="col-6" *ngIf='source'>
        <mat-card>
          <h6 class='text-center'>Subscription Details</h6>
          <div class="row" style='margin-bottom: 5px'>
            <div class="col-6">
              <strong>Plan: </strong>
              <span>{{plan.name}} Tier Subscription</span>
            </div>
          </div>
          <div class="row" style='margin-bottom: 5px'>
            <div class="col-6">
              <strong>Start Date: </strong>
              <span>{{date | date:'mediumDate'}}</span>
            </div>
            <div class="col-6">
              <strong>End Date: </strong>
              <span>{{dateNext | date:'mediumDate'}}</span>
            </div>
          </div>
          <div class="row" style='margin-bottom: 5px'>
            <div class="col-12">
              <strong>Payment Method: </strong>
              <img style='width: 5%; position: relative; top: -5px; margin-right: 5px'
                [src]="'../../../assets/cc/' + source.brand + '.png'" [alt]="source.brand">
              <span style='font-size: 14px'>**** **** **** {{source.last4}} | EXP:
                {{source.exp_month}}/{{source.exp_year}}</span>
            </div>
          </div>
          <div class="row" style='margin-bottom: 5px'>
            <div class="col-6">
              <strong>Price: </strong>
              <span>${{plan.amount / 100}}.00 / Month</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-checkbox [(ngModel)]='autoCharge'>Charge Automatically</mat-checkbox>
            </div>
          </div>
          <mat-spinner *ngIf='loading' style="margin:0 auto;" mode="indeterminate" diameter="30"></mat-spinner>
          <div class="alert alert-success" *ngIf='isSubscribed' style='font-size: 13px; margin-top: 1rem;'>
            You've subscribed to this plan. You can activate it now by paying the invoice below, or at any time from
            your Account Settings.
          </div>
          <div class='alert alert-success' *ngIf='isPaid' style='font-size: 13px; margin-top: 1rem;'>
            Payment successful, navigating you.
          </div>
          <div class="text-center" *ngIf='!loading'>
            <button mat-button (click)='subscribe()' *ngIf='!isSubscribed && !isPaid'>Subscribe</button>
            <button mat-button (click)='pay()' *ngIf='isSubscribed'>Pay</button>
          </div>
          <div class="alert alert-danger" *ngIf='error' style='font-size: 13px; margin-top: 1rem;'>
            {{error}}
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>