<mat-card>
  <div class="card-title">Traffic Analysis</div>
  <div class="card-body">
    <div class="row desc">
      <div class="col-3 new-users">
        <span class='title'>New Users</span>
        <span class="number">9,123</span>
      </div>
      <div class="col-3 recuring-users">
        <span class='title'>Recuring Users</span>
        <span class="number">22,643</span>
      </div>
      <div class="col-3 page-views">
        <span class='title'>Page Views</span>
        <span class="number">78,623</span>
      </div>
      <div class="col-3 organic">
        <span class='title'>Organic</span>
        <span class="number">49,123</span>
      </div>
    </div>
  </div>
</mat-card>